<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </head>
    <body>
        <h1> Миссия Колонизация Марса</h1>
	<h4>И на Марсе будут яблони цвести!</h4>
	<h2>Список профессий:</h2>
	{% if list == 'ol' %}
	    <ol>
    	        {% for p in prof %}
    		    <li>{{p}}</li>
    		{% endfor %}
	    </ol>
	{% elif list == 'ul' %}
	    <ul>
    	        {% for p in prof %}
    		    <li>{{p}}</li>
    		{% endfor %}
	    </ul>
	{% else %}
	   <p>Неверное значение параметра</p>
	{% endif %}
    </body>
</html>